
#tipuri {
    background-color: rgb(92, 61, 22);
    margin: 20px auto;
 
}

li {
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-top: 2px solid black;
}

li > p {
    background-color: rgb(116, 82, 31);
    color: rgb(233, 233, 233);
    width: 220px;
    height: 140px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
h2 {
    text-align: center;
    color: rgb(231, 201, 164);
    font-size: 2rem;
}

strong {
    font-size: 1.6rem;
    background-color: rgb(114, 84, 48);
    color: rgb(255, 234, 206);
    border: 6px double rgb(48, 33, 16);
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 140px;


}